<% provide :title,  t(".signup")  %>
<h1><%= t ".signup" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with model: @user, url: signup_path, local: true do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :role, t(".role") %><br>
      <% User.roles.keys.each do |key| %>
        <%= f.radio_button :role, key %>
        <%= f.label key.capitalize %>
      <% end %><br>

      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email, t(".email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :birthday, t(".birthday") %>
      <%= f.date_field :birthday, class: "form-control" %>

      <%= f.label :gender, t(".gender") %><br>
      <% User.genders.keys.each do |gender| %>
        <%= f.radio_button :gender, gender.to_s %>
        <%= f.label gender.to_sym %>
      <% end %><br>

      <%= f.label :phone, t(".phone") %>
      <%= f.text_field :phone, class: "form-control" %>

      <%= f.label :address, t(".address") %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :password, t(".password") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t(".repass") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t(".create_acc") , class: "btn btn-primary button" %>
    <% end %>
  </div>
</div>
