<% provide :title, @curriculum_vitae.target %>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 curriculum_vitae_info">
        <h1><%= @curriculum_vitae.target %></h1>

        <h5><%= t ".name" %></h5><hr>
        <p><%= @user.name %></p><br>

        <h5><%= t ".email" %></h5><hr>
        <p><%= @user.email %></p><br>

        <h5><%= t ".birthday" %></h5><hr>
        <p><%= @user.birthday %></p><br>

        <h5><%= t ".gender" %></h5><hr>
        <p><%= @user.phone %></p><br>

        <h5><%= t ".address" %></h5><hr>
        <p><%= @user.address %></p><br>

        <h5><%= t ".target" %></h5><hr>
        <p><%= @curriculum_vitae.target %></p><br>

        <h5><%= t ".skill" %></h5><hr>
        <p><%= @curriculum_vitae.skill %></p><br>

        <h5><%= t ".level" %></h5><hr>
        <p><%= @curriculum_vitae.level %></p><br>

        <h5><%= t ".experience" %></h5><hr>
        <p><%= @curriculum_vitae.experience %></p><br>

        <h5><%= t ".language" %></h5><hr>
        <p><%= @curriculum_vitae.language %></p><br>

        <h5><%= t ".note" %></h5><hr>
        <p><%= @curriculum_vitae.note %></p><br>

        <div class="button_cn">
        <% if @user.current_user? current_user %>
          <%= link_to t(".update"), edit_curriculum_vitae_path,
            class: "btn btn-lg btn-success" %>
          <%= link_to t(".delete"), @curriculum_vitae, method: :delete,
            data: {confirm: t(".sure")}, class: "btn btn-lg btn-danger" %>
        <% end %>
      </div>
      </div>
      <div class="col-md-4">
        <% if @user.candidate? %>
          <h3><%= t ".applied" %> (<%= @applieds.count %>)</h3>
          <ol class="cv">
            <%= render @applieds %>
          </ol>
        <% end %>
      </div>

    </div>
  </div>
</div>
