<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light p-0 navbar-static-top">
      <h1 class="title"><%= link_to t("base_title"), root_path, class: "navbar-brand" %></h1>
      <button class="navbar-toggler ml-lg-auto ml-sm-5 bg-light" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ml-lg-5 navbar-nav mr-lg-auto">
          <li class="nav-item mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
            <%= link_to t("createCV"), new_curriculum_vitae_path %>
          </li>
          <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
            <%= link_to t("createJob"), new_job_path %>
          </li>
        </ul>
        <% if logged_in? %>
        <li class="dropdown nav-item mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            <%= t ".manager"%>
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to t(".users"), users_path %></li>
            <li><%= link_to t(".add_career"), new_career_path %></li>
            <li><%= link_to t(".careers"), careers_path %></li>
          </ul>
        </li>
        <li class="dropdown nav-item mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            <%= t ".account"%>
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile"), current_user %></li>
            <li><%= link_to t(".settings"), edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to t(".log_out"), logout_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <%= link_to t("signup"), signup_path, class: "btn w3ls-btn text-uppercase font-weight-bold d-block" %>
        <%= link_to t("login"), login_path, class: "btn w3ls-btn btn-2 ml-lg-1 text-uppercase font-weight-bold d-block" %>
        <% end %>
        <div class="laguage">
          <%= link_to locale: "en" do %>
            <%= image_tag "en.png" %>
          <% end %>
          <%= link_to locale: "vi" do %>
            <%= image_tag "vi.png" %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="d-flex banner-w3pvt-bg1 common-bg header">
  <div class="d-flex mx-auto align-items-center justify-content-center flex-column">
    <div class="row justify-content-between bnr-form-w3ls">
      <div class="col-lg-3">
        <h4><%= t "slogan" %></h4>
      </div>
      <div class="col-lg-9">
        <%= form_with url: jobs_path, method: :get, id: "search-form", local: true do %>
          <div class="row">
            <div class="col-md-3 form-group mb-md-0">
              <label class="text-capitalize">
                <%= t "find_by_career" %>
              </label>
              <%= text_field_tag :career_name, params[:career_name],
                class: "form-control", placeholder: t("search_career") %>
            </div>
            <div class="col-md-5 form-group mb-md-0">
              <label class="text-capitalize">
                <%= t "find_by_company" %>
              </label>
              <%= text_field_tag :company_name, params[:company_name],
                class: "form-control", placeholder: t("search_company") %>
            </div>
            <div class="col-md-3 form-group mb-md-0">
              <label class="text-capitalize">
                <%= t "find_by_job" %>
              </label>
              <%= text_field_tag :job_info, params[:job_info],
                class: "form-control", placeholder: t("search_job") %>
            </div>
            <div class="col-md-1 form-group search">
             <button type="submit" class="btn btn-w3ltd btn-block w-100 bg-theme font-weight-bold"><span
                class="fa fa-search"></span>
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
