<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light p-0 navbar-static-top">
      <h1><%= link_to t("base_title"), "#", class: "navbar-brand" %></h1>
      <button class="navbar-toggler ml-lg-auto ml-sm-5 bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ml-lg-5 navbar-nav mr-lg-auto">
          <li class="nav-item mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
            <%= link_to "Create CV", "#" %>
          </li>
          <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
            <%= link_to "Create Job", "#" %>
          </li>
        </ul>
        <%= link_to t("signup"), "#", class: "btn w3ls-btn text-uppercase font-weight-bold d-block" %>
        <%= link_to t("login"), "#", class: "btn w3ls-btn btn-2 ml-lg-1 text-uppercase font-weight-bold d-block" %>
      </div>
    </nav>
  </div>
</header>
<div class="d-flex banner-w3pvt-bg1 common-bg header">
  <div class="d-flex mx-auto align-items-center justify-content-center flex-column">
    <div class="row justify-content-between bnr-form-w3ls">
      <div class="col-lg-4">
        <h4><%= t "slogan" %></h4>
      </div>
      <div class="col-lg-8">
        <form action="job_list.html" method="post" class="bnr-field">
          <div class="row">
            <div class="col-md-5 form-group mb-md-0">
              <label class="text-capitalize">
                <%= t "find_by_job" %>
              </label>
              <input class="form-control" type="text" name="name" required="">
            </div>
            <div class="col-md-5 mb-md-0 form-group">
              <label class="text-capitalize">
                <%= t "find_by_place" %>
              </label>
              <input class="form-control" type="text" name="place" required="">
            </div>
            <div class="col-md-2 d-flex align-items-end">
              <button type="submit" class="btn btn-w3ltd btn-block w-100 bg-theme font-weight-bold text-uppercase"><span
                class="fa fa-search"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
